.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        display: flex;
        flex-direction: row;
    }
    .nasa-subtext {
        color: #E20F31;
    }
}